.nav {
   position: relative;
   height: 180px;
   background-color: @bgNavPanel;
   h1 {
      color: white;
   }
   svg {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 5vw;
   }
}

.logo{
  margin: 35px 0 0 50px; 
  
  img{
    width: 200px;
    height: 56px;
  }
}

//navigation
.navigation{
  display: flex;
  margin-left: auto;
 
}
.list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.list li{
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 50px;
  display: flex;
  margin-top: 30px;
  
  &:first-child{
    margin-left: 0;
  }
}

.list li a, .list li{
  color: @colorNavigation;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.list li a{
  position: relative;
}

//выподающий список
.list ul{
  width: 255px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #232323;
  position: absolute;
  top: 60px;
  left: 0px;
  z-index: 1;
  padding: 20px 0 15px 15px;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: all 0.3s ease-in;
  border-radius: 0 0 5px 5px; 
} 

.list li> ul li{
  margin: 0;
  padding: 0;
}

.list li> ul li:hover{
 text-decoration: underline;
}

.list li:hover > ul, .list li:hover > ul{
  transform: scaleY(1);
}

.fa-angle-down path{
  fill: @colorNavigation;
}

.svg-inline--fa.fa-w-10 {
  width: 19px;
  height: 24px;
  position: relative;
  top: 7px;
  left: 3px;
}

/* .headhesive{
  width: 100%;
  height: 75px;
  background-color: rgba(35,35,35, 0.9);
  position: fixed;
  transform: translateY(-2000%);
  z-index: 1000;
  transition: (.3s);
  
  .colorNavB{
    fill: rgba(35,35,35, 0);
  }

  .logo{
    margin: 15px 0 0 50px; 
    position: relative;
    z-index: 1;
    
      img{
        width: 150px;
        height: 42px;
      }
  }

  .list li a, .list li{
    font-size: 18px;
  }

  .social .icon{
    width: 25px;
    height: 25px;
  }

  .icon, .icon a{
    top: 10px;
  }

   .phone a{
     top: 0;
     font-size: 18px;
     left: 24px;
   }

   .phone{
     top: -30px;
   }

   .phone a .fa-phone-volume{
     font-size: 20px;
     left: -24px;
   }

   .list{
     margin-top: -7px;
   }

   .svg-inline--fa.fa-w-10{
    width: 17px;
    height: 20px;
   }

   .list ul{
     width: 225px;
     top: 52px;
     background-color: rgba(35,35,35, 0.9);
   }

 .mobile{
   top: -26px;
 }
 
 .mobile text{
   font-size: 18px;
 }
}

.headhesive--stick{
  transform: translateY(-1%);
} */

