.contacts{
	width: 300px;
	height: 150px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 50px;
}

.social{
	width: 300px;
	height: 70px;
}

.icon, .icon a{
	display: block;
	width: 50px;
	height: 50px;
	fill: @colorSocial;
	position: absolute;
	top: 20px;
	display: flex;
	.transition (0.2s);
}
/* formContacts */
.social--formContacts{
	position: absolute;
}

.social--formContacts .vk a,
.social--formContacts .instagram a,
.social--formContacts .github a,
.social--formContacts .facebook a{
	fill: #000;
}

.social--formContacts .github a:hover{
	stroke: #fff;
}

/* //formContacts */

.vk a:hover{
	fill: @colorSocialHoverVk;
}

.instagram a:hover{
	fill: url(#rg);
}

.github a:hover{
	fill: @colorSocialHoverGithub;
	stroke: #fff;
}

.facebook a:hover{
	fill: @colorSocialHoverFacebook;
}

.social .icon{
	width: 35px;
	height: 35px;
}

.social .vk{
	left: 0px;

}

.social .instagram{
	left: 50px;
}

.social .github{
	left: 100px;
}

.social .facebook{
	left: 150px;
}

//mobile
.phone{
	width: 100%;
	height: auto;
	position: relative;
	top: 10px;
}
 .phone a {
	position: relative;
	left: 28px;
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
}

.phone a .fa-phone-volume{
	position: absolute;
	left: -28px;
	top: -3px;
	font-size: 25px;
	color: #FFF;
	height: 30px;
}

.svg-inline--fa .fa-phone-volume .fa-w-12{
	width: 0;
	position: absolute;
}

/* .mobile{
	position: absolute;
	top: 20px;
	left: 0;
	fill: #fff;
}

.mobile text{
	fill: #fff;
	font-size: 20px;
}  */



